<div>
  <div class="p-grid login-container">
    <div class="p-col-3 orange">
      <div class="login-form">
        <div class="logo">
          <div class="logo-icon"></div>
        </div>
        <h3>Travel Portal</h3>
        <div>
          <h4 class="login-subtitle">Please Login to Your Account</h4>
          <form #formLogin="ngForm" (ngSubmit)="login()">
            <div class="p-field form-controls">
              <label
                for="userName"
                class="p-col-fixed p-grid"
                style="width: 100px"
                >Username</label
              >
              <div class="p-input-icon-left p-grid">
                <i class="pi pi-user"></i>
                <input
                  id="userName"
                  type="text"
                  pInputText
                  [(ngModel)]="loginForm.user_login_id"
                  name="user_login_id"
                  #user_login_id="ngModel"
                  required
                  (change)="isInvalidUser = false"
                />
              </div>
              <div
                class="error-message"
                *ngIf="!user_login_id.valid && user_login_id.touched"
              >
                User name is required!
              </div>
            </div>
            <div class="p-field form-controls">
              <label
                for="password"
                class="p-col-fixed p-grid"
                style="width: 100px"
                >Password</label
              >
              <div class="p-input-icon-left p-grid">
                <i class="pi pi-lock"></i>
                <input
                  id="password"
                  type="password"
                  pInputText
                  [(ngModel)]="loginForm.user_login_password"
                  name="user_login_password"
                  #user_login_password="ngModel"
                  required
                  (change)="isInvalidUser = false"
                />
              </div>
              <div
                class="error-message"
                *ngIf="
                  !user_login_password.valid && user_login_password.touched
                "
              >
                Password is required!
              </div>
            </div>
          </form>
        </div>

        <div class="error-message invalid" *ngIf="isInvalidUser">
          Invalid username or password !
        </div>
        <div class="p-field-checkbox keep-me-sigh-in">
          <input
            type="checkbox"
            name="checked"
            label=""
            value="keepSigned"
            [checked]="keepSigned"
            (change)="rememeberMe($event)"
          />
          <span>Keep me signed in</span>
        </div>

        <button
          pButton
          type="submit"
          label="Login"
          class="login-button"
          (click)="login()"
        ></button>

        <div class="forgot-password">
          <a> Forgot Password </a>
        </div>
        <div class="signup-link">
          <span>Don't have an account ? <a>Signup here</a></span>
        </div>
      </div>
    </div>

    <div class="p-col-9 image"></div>
  </div>
</div>
