@import "../../../styles/variables"; // this is not cool!
h1 {
  color: $brand-color;
}

.login-container {
  height: 100%;
  width: 100%;
  position: absolute;
  .keep-me-sigh-in {
    justify-content: center;
    width: 75%;
    margin: 10px;
  }

  h4,
  h3 {
    margin: 10px;
  }
  .login-form {
    text-align: center;
    background-color: $white-color;
    height: 89%;
    padding: 20px;
    margin: auto;
    left: 5%;
    z-index: 1;
    position: absolute;
    top: 5%;
    box-shadow: 0 0 7px;
    width: 25%;

    .logo {
      display: flex;
      justify-content: center;
      .logo-icon {
        border-radius: 50px;

        height: 100px;
        width: 100px;
        background-image: url("./../../../assets/images/drone.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.image {
  background-image: url("./../../../assets/images/air-balloon.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.orange {
  background: $orange;
}

.login-subtitle {
  color: $grey-color;
}

.login-button {
  background: $orange;
  width: 100%;
  margin: 10px;
}

.login-button:hover {
  background: $orange;
}

.forgot-password {
  margin: 15px;

  color: $grey-color;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $orange;
  }
}

.signup-link {
  cursor: pointer;
  margin: 20px 0px;
  a {
    color: $orange;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-controls {
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    position: relative;
    width: 100px;
    right: 25%;
    margin: 5px;
  }
}

.error-message {
  margin: 5px;
  color: $red;
  padding-right: 25%;
}

.invalid {
  margin: 10px;
  color: $red;
  padding-right: 5%;
}
@media screen and (max-width: 450px) {
  .login-form {
    width: 90% !important;
  }
}
