<div class="home-page-container p-d-flex">
  <header></header>
  <div class="side-bar-container">
    <div class="side-bar left-sidebar" id="sidebar">
      <app-side-bar></app-side-bar>
    </div>
    <div class="main-content" [ngClass]="toogle ? 'main-content-1' : 'main-content'">
      <div><button (click)="toggleBtnclick()" type="button" id="toggleBtn">Toggle</button></div>
      <router-outlet></router-outlet>
    </div>
    <div (click)="overlayClick()" class="overlay hidden" id="overlay"></div>
  </div>
  <footer></footer>
</div>