@import "../../../styles/variables";

.home-page-container {
  height: 100%;
  flex-direction: column;

  .side-bar-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;

    .side-bar {
      background: $light-blue-color;
      width: 20%;
      background-image: url("./../../../assets/images/bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: fixed;

    }
  }

  .main-content {
    flex: 1;
    display: flex;
    margin: 15px;
    flex-direction: column;
    position: absolute;
    left: 18%;
  }

  .main-content-1 {
    flex: 1;
    display: flex;
    margin: 15px;
    flex-direction: column;
    position: absolute;
    left: 0%;
  }
}

@media screen and (max-width: 450px) {
  .side-bar {
    width: 70% !important;
    height: 100% !important;
  }
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: lightgray;
  transition: all 0.3s;
  height: 100vh;
  margin-left: -250px;
  /* top layer */
  z-index: 3
}

#sidebar.active {
  margin-left: 0px;
}

@media (max-width: 580px) {
  #sidebar {
    position: fixed;
    top: 0;
    /* top layer */
    z-index: 3
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.425);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
  }

  .overlay.hidden {
    display: none;
  }
}
