@import "../../../styles/variables";

.home-page-container {
  height: 100%;
  flex-direction: column;

  .side-bar-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    .side-bar {
      background: $light-blue-color;
      width: 20%;
      background-image: url("./../../../assets/images/bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .main-content {
    flex: 1;
    justify-content: center;
    display: flex;
    margin: 15px;
  }
}
@media screen and (max-width: 450px) {
  .side-bar {
    width: 70% !important;
    height: 100% !important;
  }
}
