.home-page-container {
  height: 100%;
  flex-direction: column;

  .side-bar-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    
    .side-bar {
      width: 20%;
      background-image: url("./../../../assets/images/bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .main-content {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
  }

}
