// Color-code
$brand-color: #800000;
$white-color: #fbfbfb;
$grey-color: grey;
$light-grey-color: #dcdcdc;
$dark-grey-color: #9c9898;
$brown-color: #403535;
$grey-color: grey;
$black-color: black;
$yellow-shade: #fbc02d;
$green-yellow-shade: greenyellow;
$green-shade: #47e447;
$orange: orange;
