@import "../../../styles/variables";

.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $white-color;
  background: $blue-color;
  opacity: 0.8;
}

.menus {
  border-top: 1px solid $white-color;
  border-bottom: 1px solid $white-color;
  flex-grow: 1;
  flex-basis: 50%;
  padding: 15px 0px;
}

.search-box {
  margin: 10px 15px;
}

.user-info-search {
  padding: 0px 20px;
  border-bottom: 1px solid #fbfbfb;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: center;
  align-items: baseline;

  .user-info-details {
    margin-left: 15px;
    font-size: 14px;

    .user-name {
      color: $white-color;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .user-info {
    display: flex;

    .user-icon {
      font-size: 30px;
      width: 50px;
      text-align: center;
      border: 1px solid $white-color;
      height: 100%;
      background-image: url("./../../../assets/images/user.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.header {
  color: #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
  font-size: 17px;
  font-weight: 500;
  flex-basis: 10%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-basis: 12%;
  align-items: center;
}

.online-badge {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: $green-shade;
  border-radius: 50%;
  margin-right: 5px;
}

.menu-list {
  font-size: 15px;
  padding: 5px;
  list-style: none;
  margin: 0px;
  padding: 0px;

  &:hover {
    opacity: 1;
  }
}

.bell {
  position: relative;
}

.bell-notification {
  text-align: center;
  display: inline-block;
  height: 15px;
  width: 20px;
  background: $yellow-shade;
  border-radius: 50%;
  margin-right: 5px;
  position: absolute;
  top: -4px;
  opacity: 1;
  color: $black-color;
  font-weight: 500;
}

.email-notification {
  @extend .bell-notification;
  background: $green-yellow-shade;
}

.icon {
  background: $dark-grey-color;
  padding: 5px;
  border-radius: 5px;
  color: $white-color;
}

.sub-menu-container {
  padding: 0px 30px;
  background: $dark-blue-color;
  opacity: 1;

  li {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
  }
}

.sub-menu {
  display: flex;
  align-items: center;
  padding: 0px 10px;

  .menu-item {
    margin: 15px;
    flex: 1;
  }
}

.active-link {
  background-color: $dark-orange;
  color: $white-color;
  opacity: 1 !important;
}

.active-link-submenu {
  color: $orange;
  opacity: 1 !important;
  color: #fb5204;
  opacity: 1 !important;

  a {
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    flex-basis: 5%;
  }

  .user-info-search {
    flex-basis: 10%;
  }

  .footer {
    flex-basis: 5%;
  }


}
