@import "../../../styles/variables"; // this is not cool!

.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #dcdcdc;
  background: black;
  opacity: 0.7;
}

.menus {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  flex: 1 1 50%;
  padding: 15px 0px;
}
.search-box {
  margin: 10px 15px;
}
.user-info-search {
  padding: 20px;
  border-bottom: 1px solid grey;

  display: flex;
  flex-direction: column;
  .user-info-details {
    margin-left: 15px;
    font-size: 14px;

    .user-name {
      color: $white-color;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .user-info {
    display: flex;

    .user-icon {
      font-size: 30px;
      width: 50px;
      text-align: center;
      border: 1px solid;
      height: 100%;
      background-image: url("./../../../assets/images/user.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.header {
  padding: 5px 20px;
  color: white;
  background-color: black;
  border-bottom: 1px soild grey;
  font-size: 17px;
  font-weight: 500;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #0a1420;
}

.online-badge {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #47e447;
  border-radius: 50%;
  margin-right: 5px;
}

.menu-list {
  font-size: 15px;
  padding: 5px;
  list-style: none;
  margin: 0px;
  padding: 0px;

  &:hover {
    opacity: 1;
  }
}
.bell {
  position: relative;
}
.bell-notification {
  text-align: center;
  display: inline-block;
  height: 15px;
  width: 20px;
  background: #fbc02d;
  border-radius: 50%;
  margin-right: 5px;
  position: absolute;
  top: -4px;
  opacity: 1;
  color: black;
  font-weight: 500;
}

.email-notification {
  @extend .bell-notification;
  background: greenyellow;
}
.icon {
  background: #9c9898;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
.sub-menu-container {
  padding: 0px 30px;
  background: #675c5c;
  opacity: 1;
  // margin-top: 10px;
  li {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
  }
}
.sub-menu {
  display: flex;
  align-items: center;
  padding: 0px 10px;

  .menu-item {
    margin: 15px;
    flex: 1;
  }
}

.active-link {
  background-color: orange;
  color: white;
  opacity: 1 !important;
}

.active-link-submenu {
  color: orange;
  opacity: 1 !important;
}
